:root {
  /* --my-border: 10px; */
  --my-border-space: 0px;
}

.my-container {
  max-width: 1200px;
}

.my-border {
  border: 1px dashed black;
}

.my-pointer {
  cursor: pointer;
}

.my-content-height {
  height: calc(100vh - 259px + var(--my-border-space));
}
